AUTH_SECRET="yo"
DATABASE_URL=""

AUTH_DISCORD_ID=""
AUTH_DISCORD_SECRET=""

APP_URL="http://localhost:3000"

ENABLED_UPLOAD_MANAGERS="FS,MINIO"

FS_MANAGER_UPLOAD_DIR=""

MINIO_URL=""
MINIO_PORT=""
MINIO_KEY_ID=""
MINIO_PASSWORD=""